APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
# Illuminate\Support\Facades\Hash::make('secret');
APP_PASSWORD="$2y$10$nzd2c1XWmnH/N9zPhQfUVulfVZIjAhjUPlYIihPJZTGl4xoEjTIsm"

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIRECT_URL=
